/.idea/
/test.py/
/extracted/ref_video_1/
/target_video/ref_video_1.mp4/
/target_video/bom_test_1.mp4/
/target_video/bom_test_2.mp4/
*.pyc
/face_id_login/dataset/bom/
/face_id_login/dataset/cksdn/
/face_id_login/dataset/chan/
/face_id_login/dataset/phw/
/face_id_login/dataset/leeminsub/
/test_env/flasktest/static/